<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" target="SYSTEM_ERR">
    <Appenders>
        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{[dd MMM yyyy HH:mm:ss]} [%logger{36}] [%t]%n%level: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>